$body-bg: #FEFEFE;
$mundo-marina: #ca8490;
$mundomarina: #cc7281;
$white: #FFF;
$marina: #BAD5D3;
$black: #000;
$red-dark-default: #ed283b;
$font-color-default: #292929;
$font-color-primary: #ececec;
$grey: #474A59;
$font-default: 'Varela Round', sans-serif;